

body{
	font-family: Arial;
	padding-left: 280px;

}
nav{
	padding: 10px 0 0 10px;
	width: 240px;
	position: fixed;
	left: 18px;
}
nav ul{
	list-style: none;
	padding-left: 0;

}
nav li a{
	text-decoration: none;
	text-transform: uppercase;
	background-color: #e5005f;
	color: white;
	padding: 5px 10px;
	margin: 2px 0;
	display: inline-block;
	font-size: 18.5px;
}

nav li a:hover, 
#active  {
	background-color: #333333;
}


nav> a {
	display: block;
	text-decoration: none;
	color: #333333;
	text-transform: uppercase;
	margin-left: 5px;
	font-weight: bold;
}
/*
nave ul ~ a {
	display: block;
}
*/

nav> a:hover{
	color: #e5005f;
}
main aside p{
	background-color: #eeeeee;
	padding: 10px;
	}

main{
	width: 45%;
}

hr{
	border: none;
	border-top: 1px solid #dddddd;
}
article img {
	max-width: 100%;
}

/*.related {*/
	/*background-color: orange;*/
.related div {
	width: 240px;
	text-align: center;
	/*float: left;*/


}
.related:after {
	content: '';
	display: block;
	clear: both;
}
.related div:nth-of-type(1) {
	float: left;
	margin-left: 64px;
}
.related div:nth-of-type(2) {
	float: right;
	margin-right: 64px;
}

.related img {
	border-radius: 50%
}

.related div a {
	background-color: #e5005f;
	display: block;
	padding: 10px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	/*position: relative;
	top: -240px;

}*/
	margin-top: -20px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#scroll-left,
#scroll-right {
	font-size: 46px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: #e5005f;
	top: 40%;
	position: absolute;
	

}
#scroll-left {
	left: 0;	

}
#scroll-right {
	right: 0;

}
.related {
	position: relative;
}








